@import '@splidejs/splide/css'; 
@import '@splidejs/splide/css/core';

// Rest of your SCSS code...


.splide__slide img{
        max-width: 12em;
        width: 100%;
        height: auto;
        object-fit: contain
}
.splide__slide{
    display: flex;
    justify-content: center;
    width: 50%;
}
.splide__arrow{
    background-color: transparent !important;
    svg{
        height: 2em !important; 
        width: 2em !important;
    }
}