*{
    overflow-x: hidden;
    box-sizing: border-box;
}
.home-box{
    width: 100% !important;
    max-width: 1440px;
    display: flex;
    grid-template-columns: 40% 57%;
    column-gap: 2em;
    row-gap: 1em;
    align-items: center;
    margin-bottom: 1em;
    padding: 0 4em;
    .left-intro{
        width: 34%;
        justify-content: center;
        padding-left: 48px;
        place-content: center;
        text-align: start;
        .title{
            font-size: 45px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            line-height: 60px;
            overflow: hidden;
        }
        .text-block{
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            font-family: 'Karla', sans-serif;
        }
        
    }
    .side-img{
        flex-grow: 1 1;
        order: 0;
        align-self: center;
        position: relative;
        img{
            vertical-align: middle;
            display: inline-block;
            height: 100%;
            max-width: 760px;
            width: 100%;
        }
    }
    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(1, 1fr);
        padding: 1em 2em;
        flex-wrap: wrap;
        .left-intro{
            width: 100%;
        }
        .side-img{
            margin: 0 auto;
        }
    }
}
.usps-cont{
    background-color: #F2F6FC;
    overflow-x: hidden;
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 3em;
        column-gap: 2em;
        row-gap: 2em;
        .box{
            text-align: start;
            animation: 2s anim-lineUp ease-out;
            position: relative;
            
            .box-title{
                text-align: center;
                font-size: 23px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                line-height: 28px;
                color: #000;
                margin-top: 0;
                &:hover{
                    color: #AED4FE;
                }
            }
            .box-desc{
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                font-family: 'Karla', sans-serif;
            }
            
        }
        .box:nth-child(2){
            position: relative;
            transition: 0.5s;
            .absolute-2{
                transition: all .5s ease-in-out;
            }
            &:hover{
                .absolute-2{
                    transform: translateX(-29px)
                }
            } 
            .absolute-1{
                transition: all .5s ease-in-out;
            }
            &:hover{
                .absolute-1{
                    transform: translateX(29px)
                }
            } 
        }
        .box:nth-child(3){
            transition: 0.5s;
            .animation-box{
                display: flex;
                transition: transform 0.5s ease;
            }
            &:hover{
                .animation-box{
                    transform: rotate(450deg);
                    transition: transform 0.5s ease;
                }
            } 
        }
        
        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(1, 1fr);
            padding: 2em 2em;
            text-align: center;
        }
    }  
}
.setups{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    .setup-title{
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 10px;
    }
    .sub-header{
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        font-family: 'Karla', sans-serif;
        margin-top: 0;
        margin-bottom: 8em;
    }
    @media screen and (max-width: 1024px) {
        padding: 2em 2em;
    }
}
.international-cont{
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    background-position: fixed;
    padding: 4em 2em;
    text-align: start;
    column-gap: 2em;
    row-gap: 2em;
    .box-cont{
        display: grid;
        justify-content: center;
        grid-template-columns: 50% 50%;
        animation: 2s anim-lineUp ease-out;
        .header{
            font-size: 36px;
            font-weight: 700;
            line-height: 42px;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 0;
            overflow: hidden;
        }
        .text-block,.sub-header{
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            font-family: 'Karla', sans-serif;
            display: flex;
            align-items: center;
            padding-right: 5%;
        }
        .sub-header{
            margin-top: 0;
        }
        .box:nth-child(1){
            padding: 0 4em;
        }
    }
    
    .img-cont{
        display: flex;
        img{
            object-fit: contain;
        }
        @media screen and (max-width: 1024px) {
            justify-content: center;
        }
    }
    @media screen and (max-width: 1024px) {
        .box-cont{
            grid-template-columns: repeat(1,1fr);
            place-items: center;
        }
    }
}
.work-way-cont{
    padding: 4em 5em;
    display: grid;
    margin-left: auto;
    column-gap: 4em;
    margin-right: auto;
    grid-template-columns: 45% 45%;
    width: 90%;
    height: 44em;
    position: -webkit-sticky;
    position: sticky;
    overflow-x: unset;
    .box{
        .title{
            font-size: 38px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            line-height: 44px;
            text-align: start;
            letter-spacing: -1.5px;
            overflow: hidden;
        }
    }
    .sticky-box{
        position: relative;
        .title{
            position: sticky;
            position: -webkit-sticky;
            top: 120px;
        }
    }
    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(1,1fr);
        padding: 2em;
        .box{
            .title{
                margin-bottom: 2em;
            }
        }
    }
}
.label-thing{
    @extend .international-cont;
    .text-block{
        color: #fff;
    }
    .btn-cont-light{
        justify-content: center;
    }
    .header{
        overflow: hidden;
    }
}
.focus{
    .grid-box{
        padding-top: 8em;
        column-gap: 2em;
        grid-template-columns: 40% 60%;
        padding: 4em 2em;
        .setup-name{
            font-size: 36px;
            margin-top: 2em;
        }
        .image-cont{
            display: flex;
            justify-content: flex-end;
        }
        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(1,1fr);
            place-items: center;
        }
    }

}
.hand-in-hand{
    column-gap: 4em;
    .box-cont{
        grid-template-columns: 50% 35%;
    }
    .img-cont{
        padding: 0 !important;
        img{
            width: 85%;
            height: auto;
            object-fit: contain;
        }
    }
    @media screen and (max-width: 1024px) {
        .box-cont{
            grid-template-columns: repeat(1,1fr);
            place-items: center;
            .img-cont{
                img{
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }
}
.ecosystem-cont{
    background-color: #E6F1F9;
    margin-top: 63px;
    .cont{
        display: grid;
        padding: 0 25px;
        grid-template-columns: repeat(2,1fr);
        column-gap: 3em;
        place-items: center;
        .picture-grid-container{
            text-align: right;
            padding-right: 48%;
            position: relative;
            img{
                max-width: 100%;
                vertical-align: middle;
                display: inline-block;
            }
            .picture-grid-column{
                width: 54%;
                justify-content: center;
                align-items: center;
                display: flex;
                position: absolute;
                top: 0%;
                bottom: 0%;
                left: auto;
                right: 0%;
            }
        }
        .ecosystem-desc{
            text-align: start;
            padding-right: 8em;
            .title{
                font-size: 36px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                line-height: 42px
            }
            .text-block{
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                font-family: 'Karla', sans-serif;
            }
            .btn-cont-dark-blue{
                margin-top: 25px;
                margin-bottom: 20px;
                button:hover{
                    border-color: #000;
                }
            }
        }
        @media screen and (max-width:1024px) {
            grid-template-columns: repeat(1,1fr);
            .ecosystem-desc{
                padding: 0 2em;
            }
        }
        @media screen and (min-width: 1280px){
            .picture-grid-container {
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
            }
        }
    } 
}
.blue-bg{
    background-color: #E6F1F9;
    margin-top: 1px;
    .mentorship-cont{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0 25px;
        .box{
            .title{
                font-size: 45px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                line-height: 60px;
                text-align: start;
            }
            .text-block{
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                font-family: 'Karla', sans-serif;
                text-align: start;
            }
        }
        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(1,1fr);
        }
    }
    @media screen and (min-width: 1500px) {
        margin-top: 63px;
    }
}
.lh-25{
    line-height: 25px;
}
.international-cont{
    .lh-25{
        button{
            min-width: 145px;
        }
    }
}
.gap-4{
    column-gap: 4em;
}